.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body.preloader-site {
    /*overflow: hidden;*/
}

html.blocked, body.blocked {
    overflow: hidden;
    touch-action: none;
    position: fixed;
    top: 0;
    left: 0;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    opacity: 0.8;
    display: block;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
    text-align: center;
}

.fl-preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    z-index: 9;
    opacity: 0.8;
}

.fl-preloader .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}

.order-arrow {
  cursor: pointer;
}

.form2 {
  display: none;
}

.intl-tel-input {
  display: block !important;
}

.form-control.error {
  border-color: #ff0000;
}

.notifyjs-corner {
  top: 50px !important;
}

.datepicker {
    border-radius: 0px !important;
}

.form-control[readonly]{
    background-color: #fff;
}

.description-media-item .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}

.media-item-opened .after-ord-icn span.digital {
    font-size: 44px;
    font-style: italic;
}

.media-item-opened .after-ord-icn span.digital.one {
    color: #da2a13;
}

.media-item-opened .after-ord-icn span.digital.two {
    color: #01addf;
}

.media-item-opened .after-ord-icn span.digital.three {
    color: #cee83f;
}

.media-item-opened .after-ord-icn span.digital.four {
    color: #006303;
}

.empty-message {
    padding: 5px 20px;
}


.btn.btn-more {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.btn-more {
    color: #df291e ;
    border: 1px solid #df291e ;
    width: 100%;
    background-color: #fff;
    border-radius: 0px;
    font-weight: bold;
}

.btn-more:hover, .btn-more:focus {
    background:#df291e ;
    opacity:.8;
    color: #fff;
}




/*

.mobile-top-header .confirm-city-mobile-widget .close-btn i:before {
    font-family: font-icons!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}



.mobile-top-header .confirm-city-mobile-widget .close-btn i:before {
    content: "\39"
}
*/



header.mobile-city-confirm-showed .mobile-top-header.static .confirm-city-mobile-widget {
    display: block;
    top: -40px;
}



.mobile-top-header .confirm-city-mobile-widget {
    -webkit-transition: top .1s ease-in-out 0s;
    -moz-transition: top .1s ease-in-out 0s;
    -o-transition: top .1s ease-in-out 0s;
    transition: top .1s ease-in-out 0s;
    background: #424a54;
    display: none;
    height: 40px;
    left: 0;
    position: absolute;
    top: -500px;
    width: 100%
}

.mobile-top-header .confirm-city-mobile-widget:after {
    border: solid 7px transparent;
    border-top-color: #424a54;
    bottom: -14px;
    box-sizing: border-box;
    color: transparent;
    content: " ";
    font-size: 0;
    right: 31px;
    position: absolute
}

.mobile-top-header .confirm-city-mobile-widget>span {
    color: #fff;
    display: inline-block;
    height: 100%;
    line-height: 40px;
    vertical-align: top
}

.mobile-top-header .confirm-city-mobile-widget>span a {
    color: #fff
}

.mobile-top-header .confirm-city-mobile-widget .city-name {
    float: left;
    font-size: 13px;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 40px)
}

.mobile-top-header .confirm-city-mobile-widget .city-name i {
    color: #fff;
    vertical-align: middle
}

.mobile-top-header .confirm-city-mobile-widget .city-name .icon-right {
    display: none
}

.mobile-top-header .confirm-city-mobile-widget .close-btn {
    text-align: center;
    width: 40px
}

header .location-icon {
    margin-right: 5px;
}

.dropdown-city {
    min-width: 212px;
}

.dropdown-city .w-choose-city-widget {
    position: relative;
    top: 5px;
}

.dropdown-city i {
    padding: 0 3px 0 0px;
}

.dropdown-city .btn{
    padding: 6px 25px !important;
}

.dropdown-city .choose-link {
    border-bottom: 1px dotted #0094d9;
    color: #0094d9;
    text-decoration: none;
}

#link-city-popover {
    top: 50px;
    left: 0;
    display: block;
    position: absolute;
}

#link-city-popover .arrow {
    left: 60px !important;
}

#city-choose-popup ul {
    position: relative;
    min-height: 1px;
    padding: 0;
    float: left;
    width: 100%;
    border-right: solid 1px #d8d8d8;
    overflow: auto;
}

#city-choose-popup ul li a {
    color: #5bc0de;
    font-size: 16px;
}

#city-choose-popup ul li a:hover {
    color: #f60;
}

#city-choose-popup ul li a.active {
    font-weight: 700;
    color: #f60;
    text-decoration: none;
}

#city-choose-popup li {
    list-style: none;
}

#city-choose-popup ul.regions {
    height: 500px;
}

#city-choose-popup ul.cities {
    max-height: 500px;
    border-right: none 0;
}

#city-choose-popup ul.cities li a i {
    float: right;
    line-height: 60px;
}

#city-choose-popup .modal-header .close {
    z-index: 9999;
    position: absolute;
    right: 15px;
}


.choose-city-link {
    border-bottom: 1px solid;
    word-wrap: normal;
    display: inline-block;
}

.choose-city-link:hover {
    text-decoration: none;
}

.order-details .icon{
    left: 0;
    width: 100%;
    text-align: center;
    color: #0f9ccc;
    font-size: 58px;
}

.order-details figure{
    /*padding: 40px 0 15px 0;*/
}

.order-details .pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.order-steps.order-step-first h4{
    color: #da2a13;
}

.order-steps.order-step-second h4{
    color: #01addf;
}

.order-steps.order-step-third h4{
    color: #cee83f;
}

.order-steps.no-active h4, .order-steps.no-active span.digital {
    color: #999 !important;
}

.media-item .description-media-item .buy .btn {
        border-radius: 0;
        border-radius: 0;
        padding: .1rem 1.9rem;
}

.media-item .description-media-item .buy .buy-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.media-item .description-media-item .btn-danger.btn-outline {
    color: #df291e;
    background-color: transparent;
}

.media-item .description-media-item .btn-danger.btn-outline:hover {
    color: #fff;
    background: #df291e;
    border-color: #df291e;
}

.text-info span {
    width: 30px;
    display: inline-block;
}


#dop-products-container .owl-carousel .item {
    /*
    height: 10rem;
    background: #4DC7A0;
    */
    border: 1px solid #ccc;
    padding: 1rem;
}

.media-item {
    min-height: 340px;
}

.dop-name {
    text-align: center;
    padding: 5px;
    height: 40px;
    font-size: 12px;
    text-overflow: ellipsis;
    width: 110px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#dop-products-container .owl-carousel {
    padding-bottom: 40px;
}

.navbar-default .link-support > a {
    padding-left: 0px;
    background: none;
}

.navbar-default .link-support > a i.fa{
    color: #df291e;
    font-size: 26px;
    position: absolute;
    left: -30px;
    top: 12px;
}

.navbar-toggle {
    margin-top: 1px;
    margin-bottom: 0;
    border: none;
}



/* FILTER */

.filters-container {
    animation-name: "slide-right-hide";
    animation-duration: .35s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: 0ms;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    z-index: 1111;
    width:100%;
    background-color: #f6f6f6;
}

.filters-container > form {
    height: calc(100% - (60px + 10px + 50px))
}

.filters-container.initial-state {
    display: none
}

.filters-container.active {
    animation-name: "slide-right-show";
    animation-duration: .35s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: 0ms;
    right: 0
}

.filters-container.active .mobile-filter-buttons {
    display: block
}

.filters-container .desktop-filter-buttons {
    display: none
}

.filters-container .mobile-filter-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 12px 20px;
    background-color: #f7f7f7;
    width: 100%;
    height: 60px;
    border-top: solid 1px #d8d8d8
}

.filters-container .mobile-crumbs {
    border-bottom: solid 1px #ddd;
    padding: 20px;
    background-color: #fff;
}

.filters-container .mobile-crumbs a[data-role="hide-filters"] {
    color: #333;
}

.filters-container .mobile-crumbs a[data-role="hide-filters"] i {
    display: inline-block;
    vertical-align: middle;
}

.filters-container .mobile-crumbs a[data-role="hide-filters"] i:before {
    content: "\56";
}

.filter-list .filter-block {
    background-color: #FFF;
    border-bottom: 1px solid #d8d8d8;
    padding: 20px;
    position: relative;
}

.filter-controls .filter-block:hover, .filter-list .filter-block:hover {
    background: #f7f7f7;
}


.filter-controls .filter-block>label.spoiler, .filter-list .filter-block>label.spoiler {
    cursor: pointer;
    overflow: hidden;
    margin: -20px;
}

.filter-controls .filter-block>label, .filter-list .filter-block>label {
    display: block;
    float: none;
    width: auto;
}

.filter-controls .filter-block>label>a, .filter-list .filter-block>label>a {
    color: #333;
    display: table;
    overflow: hidden;
    padding: 20px;
    text-decoration: none;
    width: 100%;
    outline: none;
}

.catalog-filters .filter-controls .filter-block, .catalog-filters .filter-list .filter-block {
    position: relative;
}

.filter-block a.collapsed .glyphicon {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.filter-list .filter-block>label>a>span {
    padding-left: 5px;
}

.btn-additional  {
        color: #fff;
    background-color: #ff7300;
    border-color: #e66800;
    font-weight: normal;
}

.filters-container .mobile-filter-buttons button {
    width: calc(49% - 12px);
    font-size: 16px;
    font-weight: normal;
}

.filters-container .mobile-filter-buttons button+button {
    margin-left: 12px;
}

.filter-list {
    height: 100%;
    overflow-y: auto;
}

.logo-container {
    display: block;
    margin: 7px 0 !important;
    width: 160px;
    height: 34px;
    background: url(../img/logo_floristum.png) no-repeat 0 0;
    background-size: contain;
}

.media-item figure figcaption {
    height: 100%;
}

.media-item figure figcaption ul {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.media-item figure figcaption p {
    position: absolute;
    bottom: 20px;
    font-size: 11px;
    padding: 5px 10px 0px 10px;
    bottom: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.media-item-opened .social-likes__widget_single {
        background: none;
        border: 1px #000 solid;
        padding: 0;
}

.media-item-opened .social-likes__button_single {
        color: #000;
}

.media-item-opened .social-likes__button {
        font-weight: normal;
}

.media-item-opened .main-picture.main-picture2 figcaption {
        bottom: 70px;
}

#lightSlider li img {
        max-width: 100%;
}

.holiday-img {
        position: absolute;
        left: 170px;
        top: -18px;
        width: 140px;
}

.holiday-img-footer {
        position: absolute;
        left: -65px;
        top: 0px;
        width: 150px;
}

.header-filtr {
        margin-left: 39px;
}

/*SEARCH STYLE START*/
.flexbox {
        /*background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed);*/
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
}

.search {
        margin: 12px;
}

.search > div {
        display: inline-block;
        position: relative;
}

.search > div:after {
        content: "";
        background: #df291e;
        width: 4px;
        height: 12px;
        position: absolute;
        top: 20px;
        right: -1px;
        transform: rotate(135deg);
        /*box-shadow: 1px 0 #0091c2;*/
}

.search > div > input {
        color: #000;
        font-size: 16px;
        background: transparent;
        width: 25px;
        height: 25px;
        padding: 10px;
        border: solid 3px #df291e;
        outline: none;
        border-radius: 35px;
        /*box-shadow: 0 1px #0091c2;*/
        transition: width 0.5s;
}

.search > div > input::placeholder {
        color: lightgrey;
        opacity: 1;
}

.search > div > input::-ms-placeholder {
        color: lightgrey;
}

.search > div > input::-ms-input-placeholder {
        color: lightgrey;
}

.search > div > input:focus,
.search > div > input:valid {
        width: 250px;
}

/*SEARCH STYLE END*/

.index-hello-first-users .index-hello-search {
        position: relative;
        width: 100%;
        height: 63px;
        border: 1px solid #e3e3e3;
        background: #fff;
        margin-top: 29px;
}

.input-group-addon, .input-group-btn {
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
}

.input-group-btn {
        position: relative;
        font-size: 0;
        white-space: nowrap;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
        z-index: 2;
        margin-left: -1px;
}

.filter-block .btn.btn-default {
        padding: 13px 18px;
        border: 1px solid #ccc;
}

.footer_tel {
        font-size: 23px;
}

.footer-last-container {
        margin-bottom: 40px;
}

#other_products_slider .col-sm-4,
#other_products_slider .col-xs-6 {
        padding-left: 0px !important;
        padding-right: 0px !important;
}

#other_products_slider.row {
        margin-left: 0px !important;
        margin-right: 0px !important;
}

.filter-block ul li {
        border-bottom: 1px solid #eaeaea;
}

.filter-block ul li:hover,
.filter-block ul li.active,
#filter-product-color .color-item.active,
#mainMenu .navbar-nav > .active > a {
        background-color: #00abdd;
        color: #fff;

}

#mainMenu .navbar-nav > li > a,
.navbar-default .link-city > a:hover {
        text-decoration: underline;
}

#mainMenu .navbar-nav > li > a:hover,
.navbar-default .link-city > a:hover {
        text-decoration: none;
}

#mainMenu .navbar-nav > li > a {
        color: #df291e;
        font-weight: bold;
}

#mainMenu .navbar-nav > li > a:hover {
        color: #000;
        background: none;
}

.color-item.active, .filter-product-checker ul li.active {
        /*background-color: #eaeaea !important;*/
}

.media-item {
        border: 1px solid #eaeaea;
        padding: 5px;
}

.filter-block-on-main.filter-block ul li:hover,
.filter-block-on-main.filter-block ul li:active,
.filter-block-on-main.filter-product-checker ul li.active {
        background: none !important;
        background-color: transparent !important;
}

.navbar-default .slogan {
        top: 10px;
        line-height: 15px;
        left: 180px;
        color: #00abdd;
}

.nav-city-wraper {
        position: absolute;
        left: 50%;
        top: 0;
}

.nav-city-wraper .logo{
        position: relative;
        left: -50%;
}

.navbar-default .link-city > a {
        /*
        padding-left: 0px;
        padding-right: 35px;
        background-position: right center;
        */
        text-decoration: underline;
}

.navbar-default .navbar-nav > li.link-city > a:hover,
.filter-block-inline.filter-block ul li:hover,
.filter-block-on-main.filter-product-checker ul li.active {
        color: #df291e;
}

#mainMenu .navbar-nav > li + li {
        /*border-left: none;*/
}

.footer-phone {
        font-weight: bold;
        font-size: 23px;
}

.last-row {
        padding-bottom: 70px;
}

#productTypesMenuItem .dropdown-support {
        width: 220px;
}

#flowersMenuItem .dropdown-support {
        width: 200px;
}

#priceMenuItem .dropdown-support {
        width: 150px;
}

#colorMenuItem .dropdown-support {
        width: 110px;
}

.container2 {
        padding: 0 40px;
}

.filter-block-on-main ul.filter {
        margin-top: 20px;
        float: right;
}

.list-products .filter-block-on-main ul.filter {
        margin-top: 10px;
}

.list-products h3 {
        line-height: 35px;
}

.color-item {
        text-align: center;
}

.slogan-li {
        top: 8px;
        line-height: 15px;
        color: #00abdd;
        padding-left: 20px;
}

.navbar-default #header-right-bar > li + li {
        border-left: none;
}

.filter-block-on-main ul li {
        display: inline-block;
        border-bottom: 0;
        text-align: center
}

.filter-block-on-main span {
        padding-top: 5px; display: block; text-decoration: underline;
}